* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(./images/wall.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Sour Gummy", sans-serif;
}

#heading_div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

/* h1 {
    font-size: 5rem;
    margin: 10px;
    color: #FFC70D;
} */

#input_field {
    width: 100%;
    height: auto;
}

